- unless address.nil?   

  %address
    =address.street
    =address.locality
    =address.state
    =address.post_code
    =address.latitude unless address.latitude == 0.00
    =address.longitude unless address.longitude == 0.00

- else
  %h4= "No address assigned."
