- unless address.nil?   

  %address
    =address.street_address
    =address.locality
    =address.state
    =address.post_code
    =address.lat unless address.lat == 0.00
    =address.long unless address.long == 0.00

- else
  %h4= "No address assigned."
