<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Daycare Decisions</title>
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Header -->
    <div class="header-bg"></div>
    <header>
        <nav class="wrapper">
            <div class="navbar-collapse collapse">
                <a href="#" class="logo"></a>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Research</a></li>
                    <li><a href="#">Fact Sheets</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Provider Services</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="header-bg"></div>

    <!-- Begin Page Content -->
    <div class="content">
        <section>

            <!-- Main Content -->
            <article class="main-content">
                <h1>Finding childcare is hard. We can help.</h1>
                <h3>What kind of daycare do you want?</h3>
                <p class="lead">This text needs to be well smithed...</p>
                <p>
                  <span class="h4">Long Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
                  </p>
                  
                  <p>
                  <span class="h4">Home Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
                  </p>
                  
                  <p>
                  <span class="h4">Kindy Care</span> -- orem ipsum dolor sit amet, consectetuer...
                  </p>
                  
                  <p>
                  <span class="h4">Before or After School Hours Care</span> -- orem ipsum dolor sit amet, consectetuer...
                  </p>
                <!-- Provider Search Form -->
                <form action="" method="get" class="provider-search">
                    <!-- 1 -->
                    <section>
                        <article class="left-column">
                            <span class="number-circle">1</span>
                        </article>
                        <article class="right-column form-group" ng-controller="locationsCtrl">
                            <h3><strong>Where</strong> do you need daycare?</h3>
                            <autocomplete ng-model="selectedLocation" data="locations" on-type="updateLocations" attr-placeholder="City or Town Name..."></autocomplete>
                            <!-- <input type="text" class="form-control autocomplete" name="location" placeholder="Enter city/town or postal code" ng-model="location"> -->
                        </article>
                    </section>

                    <!-- 2 -->
                    <section>
                        <article class="left-column">
                            <span class="number-circle">2</span>
                        </article>
                        <article class="right-column kinds">
                            <h3>What <strong>kind</strong> of daycare are you looking for?</h3>
                            <div>
                                <section>
                                    <article class="left-checkboxes-col">
                                        <label>
                                            <input type="checkbox" name="">
                                            Long Day Care
                                        </label>
                                        <label>
                                            <input type="checkbox" name="">
                                            Family Day Care
                                        </label>
                                    </article>
                                    <article class="right-checkboxes-col">
                                        <label>
                                            <input type="checkbox" name="">
                                            Kinder Care
                                        </label>
                                        <label>
                                            <input type="checkbox" name="">
                                            Outside of School Hours
                                        </label>
                                    </article>
                                </section>
                            </div>
                        </article>
                    </section>

                    <!-- 3 -->
                    <section>
                        <article class="left-column">
                            <span class="number-circle">3</span>
                        </article>
                        <article class="right-column preferences">
                            <h3>What special <strong>preferences</strong> do you have?</h3>

                            <section>
                                <article class="left-checkboxes-col">
                                    <label>
                                <input type="checkbox" name="additional_activities">
                                    Additional Activities
                                </label>
                                <label>
                                    <input type="checkbox" name="air_conditioning">
                                    Air Conditioning
                                </label>
                                <label>
                                    <input type="checkbox" name="bus_service">
                                    Bus Service
                                </label>
                                <label>
                                    <input type="checkbox" name="disposable_nappies">
                                    Disposable Nappies
                                </label>
                                <label>
                                    <input type="checkbox" name="cloth_nappies">
                                    Cloth Nappies
                                </label>
                                <label>
                                    <input type="checkbox" name="excursions">
                                    Excursions
                                </label>
                                <label>
                                    <input type="checkbox" name="extended_hours_for_kindys">
                                    Extended Hours for Kindys
                                </label>
                                <label>
                                    <input type="checkbox" name="food_provided">
                                    Food Provided
                                </label>
                                <label>
                                    <input type="checkbox" name="guest_speakers">
                                    Guest Speakers
                                </label>
                                </article>

                                <article class="right-checkboxes-col">
                                <label>
                                    <input type="checkbox" name="languages">
                                    Languages
                                </label>
                                <label>
                                    <input type="checkbox" name="real_grass">
                                    Real Grass
                                </label>
                                <label>
                                    <input type="checkbox" name="secure_access">
                                    Secure Access
                                </label>
                                <label>
                                    <input type="checkbox" name="siblings_given_priority">
                                    Siblings Given Priority
                                </label>
                                <label>
                                    <input type="checkbox" name="technology">
                                    Technology
                                </label>
                                <label>
                                    <input type="checkbox" name="" id="vacancies">
                                    Vacancies
                                </label>
                                <label>
                                    <input type="checkbox" name="" id="vaccinations_compulsory">
                                    Vaccinations Compulsory
                                </label>
                                <label>
                                    <input type="checkbox" name="" id="waitlist_online">
                                    Waitlist Online
                                </label>
                                <label>
                                    <input type="checkbox" name="" id="waitlist_reimbursed">
                                    Waitlist Fee Reimbursed
                                </label>

                                </article>
                            </section>

                        </article>
                    </section>
                </form>

                <!-- Provider Results -->
                <div class="providers">
                    <section>
                        <article><strong>Provider 1</strong>, Sydney NSW</article>
                    </section>
                    <section>
                        <article><strong>Provider 2</strong>, Sydney NSW</article>
                    </section>
                    <section>
                        <article><strong>Provider 3</strong>, Sydney NSW</article>
                    </section>
                </div>

            </article>

            <!-- Sidebar Ads -->
            <article class="sidebar">
                <img src="http://placehold.it/200x100">
                <img src="http://placehold.it/200x100">
                <img src="http://placehold.it/200x100">
                <img src="http://placehold.it/200x100">
            </article>
        </section>
    </div>

    <!-- Footer -->
    <footer>
        <ul>
            <li><a href="#">FAQ</a></li> |
            <li><a href="#">Blog</a></li> |
            <li><a href="#">About</a></li> |
            <li><a href="#">Research</a></li> |
            <li><a href="#">Fact Sheets</a></li> |
            <li><a href="#">Newsletter</a></li> |
            <li><a href="#">Provider Services</a></li>
        </ul>
    </footer>

    <!-- Scripts -->
    <script src="lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="js/autocomplete.js"></script>
    <script src="js/app.js"></script>
</body>
</html>