%h2 API Specifications

%ol
  %li.h3 Get Locations Matching Partial String
  %ul
    %li Request: GET /api/locations/_partial string_
    %li Returns: JSON array of all providers in Brisbane
    %li Example: /api/locations/bris
    %p= ["Brisbane, QLD", "Brisbane Grove, NSW"]
    
  %li.h3 Get All Providers
  %ul
    %li Request: GET /api/providers
    %li Returns: JSON array of all providers in Australia
    %li Example: /api/locations
  
  %li.h3 Get All Providers With Filters
  %ul
    %li Request: GET /api/providers/?locality=Brisbane, QLD real_grass=1 food_provided
    %li Returns: JSON array of providers in Brisbane with real grass and food provided
    %li Example: /api/proviers/?locality=Brisbane, QLD&real_grass=1&food_provided=1

  %li.h3 Get Single Provider By ID
  %ul
    %li Request: GET /api/providers/:id
    %li Returns: JSON of provider with :id
    %li Example: /api/provider/100

