%body
  #header 
    %h1 "header h1"
    %h1 "another header h1"
    %h2 "header h2"
    %h2 "another header h2"
    %h3 "and now a header h3"
  
  #navbar
    %a Home
    %a FAQ
    %a Blog
    %a About
    %a Research
    %a Fact Sheets
    Search
    %a Newsletter
    %a Provider Services

  #container
    .panel#ads
      Ads
      %br
        More ads
      And even more ads
      %br
        And even more ads
      Then some ads
      Ads
      %br
        More ads
      And even more ads
      %br
        And even more ads
      Then some ads
      Ads
      %br
        More ads
      And even more ads
      %br
        And even more ads
      Then some ads
      Ads
      %br
        More ads
      And even more ads
      %br
        And even more ads
      Then some ads
      
    .content
      %h1 Finding Childcare Is Hard, We Can Help
      %h2 What Kind of Daycare Do You Want?
      
      <p>
      <span class="h4">Long Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Home Day Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Kindy Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      <p>
      <span class="h4">Before or After School Hours Care</span> -- orem ipsum dolor sit amet, consectetuer...
      </p>
      
      %h3= 'Waitlisted Providers'
      .panel
        #providers    
          %a 1 Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
      
        
      %h3 Latest Providers Added
      .panel
        #providers    
          %a 2 Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center
          %br
          %a Little Feet Provider One Mooloombaba
          %a Provider Two Dalton Town Center

      %h3 Why List Your Center With Us?
      Lots and lots of nicely worded stuff to explain in as few words as possible why list your child care provider with Daycare Decisions.  Make sure the reader understands they can claim their update rights for themselves and maintain the data if they join.
  
      .panel 
        #search
          %p Suburb
          %p Post Code
          %p State

    #container
      .panel#attributes
        %p Cloth Nappies
        %p Air Con
        %p Real grass
      .panel
        #providers
          %p Provider One
          %p two
          %p three
  #container
    .panel#ads
      Ads
      %br
        More ads
      And even more ads

  #footer
    %a Home
    %a About Us
    %a Advertise
    %a Contact Us
    %a Privacy Policy
    %a Terms and Conditions
