<div class="content">
    <section>

        <!-- Main Content -->
        <article class="main-content">

            <h1>About Childcare Decisions</h1>

              <p>Professional parents everywhere all have a knowing smile when the topic of ‘work/life balance’ pops up. Pictures spring into our heads of small children going wild with otherwise harmless office equipment, chubby fingers slapping the keyboard inadvertently pressing delete or parents undergoing extreme forms of torture like trying to send an important professional email when the screaming and background shenanigans disrupt your steely resolve and make you type and send something rude to your CEO.


              <p>Parents are doing it tough everywhere for the right reasons. We all corral around notions of providing a better life for our children whatever path we choose. My path is Daycare Decisions. When I went back to work 4 years ago when my son was 6 months old I found it really hard to find information about child care options in my local area. I wanted more than the address and phone number. I had left it late to look into it not realising what a massive big deal it was. Having no friends with children, I had no one to ask and the information online was soulless. Guilt and high emotion were my decision-making tools and logic was far beyond me. Where were all the mums with the same problem as mine? I wanted opinions, ideas, tips and local information that represented all options.


              <p>Knowing what awesome information sources mums can be when it comes to testing, knowing or trying new products or services. Parents, in particular Mums were definitely going to be at the centre of Daycare Decisions while we look at re-developing. Over 700 Australian mums have told us their biggest pain in organising child care is deciding and comparing child care. I would second that.

              <p>I hope you find a warm friendly place at Daycare Decisions. A place to share and assist others choosing, changing or sharing their tips and hints about children in child care. We look forward to moulding the Daycare Decisions for you.

        </article>

        <!-- Sidebar Ads -->
        <article class="sidebar">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
        </article>

    </section>
</div>   