
<div class="content">
    <section>

        <!-- Main Content -->
        <article class="main-content">

            <h1>{{provider[0].name}}</h1>
            <hr/>
            <h2>Facilities and Services</h2>

            <br/>
            <p>{{provider[0].description}}</p>

            <p>Additional Activities: {{provider[0].additional_activities}}
            <p ng-show=provider[0].additional_activies>{{provider[0].additional_activities_list}}

            <p>Address: {{provider[0].address}}
            <p>Age Range: {{provider[0].age_range}}

            <p ng-if=air_conditioning>Air Conditioning: &nbsp; YES</p>
            <p ng-if=!air_conditioning>Air Conditioning: &nbsp; No</p>

            <p>Approval Granted: {{provider[0].approval_granted_on}}
            <p>Approval Number: {{provider[0].approval_number}}
            <p>Approved Places: {{provider[0].approved_places}}

            <p ng-if=bus.service>Bus Service: &nbsp; Yes</p>
            <p ng-if=!bus.service>Bus Service: &nbsp; No</p>

            <p ng-show=provider[0].care_offered>
                Care Offered: {{provider[0].care_offered}}
            </p>

            <p>Conditions On Approval: {{provider[0].conditions_on_approval}}
            <p>Cloth Nappies: {{provider[0].cloth_nappies}}

            <p>Disability Friendly: {{provider[0].disability_friendly}}
            <p>Disabilities List: {{provider[0].disabilities_list}}
            <p>Disposable Nappies: {{provider[0].disposable_nappies}}

            <p>Excursions: {{provider[0].excursions}}
            <p>Extended Hours for Kindys: {{provider[0].extended_hours_for_kindys}}

            <p>Fee: {{provider[0].fee}}
            <p>Food Provided: {{provider[0].food_provided}}

            <p>Guest Speakers: {{provider[0].guest_speakers}}

            <p>Hours: {{provider[0].hours}}

            <p>Kindergarten: {{provider[0].kindergarten}}

            <p ng-if=provider[0].languages>Languages: YES</p>
            <p>Languages List: {{provider[0].languages_list}}
    
            <p>NQS Rating: {{provider[0].NQS_rating}}

            <p>Online Enrollment: {{provider[0].online_enrollment}}
            <p>Outdoor Play Area: {{provider[0].outdoor_play_area}}

            <p>Provider Approval Number: {{provider[0].provider_approval_number}}
            <p>Provider Legal Name: {{provider[0].provider_legal_name}}

            <p>Quality Overall Rating: {{provider[0].quality_overall_rating}}

            <p>Real Grass: {{provider[0].real_grass}}

            <p>Secure Access: {{provider[0].secure_access}}
            <p>Service Approval Number: {{provider[0].service_approval_number}}
            <p>Sibling Priority: {{provider[0].sibling_priority}}

            <p>Technology: {{provider[0].technology}}
            <p>Technologies List: {{provider[0].technologies_list}}

            <p>URL (Web Site): <a href="{{provider[0].url}}", target: '_blank'>{{provider[0].url}}</a>

            <p>Vacancies: {{provider[0].vacancies | number}}
            <p>Vacancies List: {{provider[0].vacancies_list}}
            <p>Vaccintations Compulsory: {{provider[0].vaccinations_compulsory}}

            <p>Waitlist Fee: {{provider[0].waitlist_fee}}
            <p>Waitlist Online: {{provider[0].waitlist_online}}
            <p>Waitlist Reimbursed: {{provider[0].waitlist_reimbursed}}

            <p>Date Created: {{provider[0].created_at | date}}
            <p>Date Updated: {{provider[0].updated_at | date}}

              	
        </article>

        <!-- Sidebar Ads -->
        <article class="sidebar">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
        </article>

    </section>
</div>   