<h1>{{provider.name}}</h1>

<p>{{provider.description}}</p>


<div class="content">
    <section>

        <!-- Main Content -->
        <article class="main-content">

            <h1>{{provider.name}} Services Avaliable</h1>

            <h3>Coming Soon: <span>{{providerId}}</span> &nbsp; detail view of selected provider.
              	
        </article>

        <!-- Sidebar Ads -->
        <article class="sidebar">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
            <img src="http://placehold.it/200x100">
        </article>

    </section>
</div>   