- unless address.nil?   

  %address
    =address.street
    =address.suburb
    =address.state
    =address.post_code
    - unless address.lat == 0
      =address.lat
    - unless address.lat == 0
      =address.long

- else
  %h4= "No address assigned."
