// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Remember
//  . means class,  # means ID (unique on page)

@import "partials/footer";
@import "partials/colors";
  
//
//  Base Styles
//
  body {
    background-color: $dd-page-background-color;
    font-family: "Papyrus", "Chalkduster", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: $dd-page-font-color;
    width: 90%;
    margin: 10px auto;
    }


  h1 {
    font-size:                                      28px;
    color:                            $dd-headline-color;
  }                            
  h2 {                         
    font-size:                                      24px;
    color:                     $dd-2ndary-headline-color;
  }
  h3 {
    font-size:                                      18px;
    color:                   $dd-tertiary-headline-color;
  } 
  h4 {
    font-size:                                      10px;
    color:                            $dd-headline-color;
}                        
    
  // anchors
                        
  a {                       
    color:                              $dd-anchor-color;
    }
  a:hover {
    background-color:        $dd-anchor-background-color;
    color:                         $dd-anchor-font-color;
    text-decoration:                                none;
  }


  ul#navlist {
    color:                        $dd-navlist_font_color;
    padding:                                           0;
    margin:                                            0;
    list-style-type:                                none;
    }
  ul#navlist li { 
    background-color:  $dd-navlist-item-background-color;  
    display:                                      inline; 
    height:                                          6em;
    }
  ul#navlist li a {
    border-right:    $dd-navlist-item-border-right-color;
    width:                                          10em;
    color:                   $dd-navlist-item-font-color;
    padding:                                   0.2em 1em;
    text-decoration:                                none;
    }
  ul#navlist li a:hover {
    background-color:       $dd-navlist-item-hover-background-color;
    color:                        $dd-navlist-item-hover-font-color;
    }


//
// Classes and IDs   Classes and IDs   Classes and IDs   Classes and IDs   Classes and IDs
//
  #dialog {
    background-color:        $dd-dialog-background-color;
    display:                                       block;
    width:                                           33%;
/*    margin: 4em auto 0 auto; */
    border:                               1px solid #CCC;
    border-right-color:    $dd-dialog-border-right-color;
    border-left-color:      $dd-dialog-border-left-color;
    border-bottom-color:  $dd-dialog-border-bottom-color;
    border-top:                        #B00100 solid 4px;
    border-top-left-radius:                          9px;
    border-top-right-radius:                         9px;
    border-bottom-left-radius:                       9px;
    border-bottom-right-radius:                      9px;    
    padding:                               7px 4em 0 4em;
  }

  .floatleft { 
    float:                                         left; 
    margin:                               0 0 10px 10px;
    background-color: red;
    }

  .floatright { 
    float:                                        right; 
    margin:                               0 0 10px 10px;
    clear:                                        right;
    background-color: yellow
    }
  
  .sidebar {
    float:                                        right;
    width:                                        175px;
  }
  
  .sidebar ul {
    margin-left:                                      0;
    padding-left:                                     0;
  }
  .sidebar ul h3 {
    margin-top:                                    25px;
    font-size:                                     16px;
    padding-bottom:                                10px;
    border-bottom:                       1px solid #ccc;
  }
  .sidebar li {
    list-style-type:                               none;
  }
  .sidebar ul.links li {
    margin-bottom:                                  5px;
  }
 
